<h1>Lista de Postagens</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Texto</th>
    <th>Autor</th>
    <th>Categoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blogs.each do |blog| %>
  <tr>
    <td><%= blog.titulo %></td>
    <td><%= blog.texto %></td>
    <td><%= blog.autor %></td>
    <td><%= blog.categoria.nome %></td>
    <td><%= link_to 'Show', blog %></td>
    <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
    <td><%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog', new_blog_path %>
