<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @video.titulo %>
</p>

<p>  
  <iframe title="YouTube video player" class="youtube-player" type="text/html" width="480" height="390" src="http://www.youtube.com/embed/<%= @video.url %>" frameborder="0" allowFullScreen></iframe>
</p>

<p>
  <b>Descrição:</b>
  <%= @video.descricao %>
</p>


<%= link_to 'Edit', edit_video_path(@video) %> |
<%= link_to 'Back', videos_path %>
